
/* ======================= BLOG INDEX PAGE */

.blog_index {
    div[role="main"] > h2 {
        @include sr-only();

        + {
            .pagination {
                @include sr-only();
            }
        }
    }
}


.theme-blog-container {

    display: flex;
    flex-flow: wrap;
    margin-left: -15px;
    margin-right: -15px;

    .blog-post {
        padding-left: 15px;
        padding-right: 15px;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 3.4rem;

        display: flex;
        flex-flow: column;
    }

    
    /* ======================= GRID LAYOUT */

    &.blog-col2,
    &.blog-col3 {     

        .subject {
            font-size: 1.25rem;
        }

        @media only screen and (min-width: $wxsmalldevice){

            .blog-post {
                flex: 0 0 50%;
                max-width: 50%;
            }

        }
        
    }



    &.blog-col2 {         

        @media only screen and (min-width: $wdmediumdevice){

            .blog-post {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }        
    }


    &.blog-col3 {         

        @media only screen and (min-width: $wdmediumdevice){

            .blog-post {
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
            }
        }        
    }


    /* ======================= LIST LAYOUT */
    
    &.blog-list {

        .blog-post {
            margin-bottom: 3rem;
        }

    }
    
    

    
}




/* ======================= BLOG POST*/

.blog-post {

    

    /* Post header */

    .post-header {
        

        .subject {
            margin: 0;
        }       
    }

    .post-content {
        margin-top: 1.2rem;
    }

    /* ======================= BLOG POST FOOTER */
    .post-footer {
        &:before {
            content: '';
            display: block;
            width: 100%;
            clear:both;
            float: none;
        }
    }   


    /* ======================= BLOG POST META */
    .post-meta {
        display: flex;
        flex-flow: wrap; 
        align-items: center;       

        > div {
            padding-right: 2.4rem;
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                height: 20px;
                top: 50%;
                right: 1.2rem;
                margin-top: -10px;
                background-color: rgba(0,0,0,.1);
            }

            &:last-child {
                padding-right: 0;

                &:after {
                    display: none;
                }
            }
        }

        a {
            color: inherit;

            &:hover,
            &:focus {
                color: var(--mb2-pb-textcolor);
            }
        }


        .post-author {
            display: flex;
            flex-flow: row;
            align-items: center;
            font-weight: var(--mb2-pb-fwbold);
        }
            
        .author-image {
            width: 48px;
            margin-right: .55rem;
        }
        
        .author-image {

            .userinitials {
                width: 48px;
                height: 48px;
            }

            img {
                @include mb2_box_shadow(0 0 0 3px, rgba(0,0,0,.1));
                border-radius: 50%;
            }
            
        }
    


    }

    .blog_index & {
        .post-meta {
            margin-bottom: 1.2rem;
        }

        .post-date {
            font-weight: var(--mb2-pb-fwbold);
        }
    }

    

    .blogpost-media,
    .post-featured-media {
        img,
        video,
        .embed-responsive,
        > a:not(.postlink) {
            margin-bottom: 1.3rem;
        }

        > a:not(.postlink) {
            display: inline-block;
            border: solid 2px rgba(0,0,0,.1);
            padding: .5rem 1rem;
            @include mb2_border_radius(.15rem);
            margin: 1.3rem 1.3rem 1.3rem 0;
            color: var(--mb2-pb-textcolor);

            &:hover,
            &:focus {
                color: var(--mb2-pb-textcolor);
                border-color: $accent1;
            }
        }
    }

    .readmore {
        margin-top: 1rem;
    }



    .attachedimages {
        img {
            margin-bottom: 1.3rem;
        }
    }

}










/* ======================= BLOG SINGLE PAGE */

.blog_single {

    div[role="main"] > h2  {   
        @include sr-only();
    }

    .post-intro {
        font-size: $fsbig;
        margin-top: 1.6rem;
    }

    .post-media {
        margin-top: 2.2rem;
        margin-bottom: 1.1rem;
    }

    .post-content {
        margin-top: 2.2rem;
    }

    &.blog_single_sidebar0 {
        .blog-post {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .post-footer {        
        border-top: solid 1px rgba(0,0,0,.1);
        margin-top: 2.7rem;
    }    

    .post-content-bottom {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.4rem;

        &:empty {
            display: none;
        }

        &.notags {
            justify-content: flex-end;
        }
    }

    .share-list,
    .comment-link {
        margin-top: 2.2rem;
    }

    .modify {
        font-size: var(--mb2-pb-fssmall);
        color: var(--mb2-pb-textcolor_lighten);
    }

}





/* ======================= TAG LIST */


.tag_list {

    --mb2-tagcolor: inherit;
    --mb2-tagbgcolor: #fff;
    --mb2-tagbcolor: rgba(0,0,0,.1);

    --mb2-taghcolor: var(--mb2-pb-accent1);
    --mb2-taghbgcolor: #fff;
    --mb2-taghbcolor: var(--mb2-pb-accent1);

    --mb2-tagfs: #{$fssmall};

    list-style: none;
    gap: .4rem;

    > b {
        @include sr-only();
    }

    a,
    a.badge {
        color: var(--mb2-tagcolor) !important;
        background-color: var(--mb2-tagbgcolor) !important;
        font-weight: var(--mb2-pb-fwbold);
        border: solid 1px var(--mb2-tagbcolor);
        box-shadow: none !important;
        font-size: var(--mb2-tagfs) !important;
        transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;

        &:hover,
        &:focus {
            background-color: var(--mb2-taghbgcolor) !important;
            color: var(--mb2-taghcolor) !important;
            border-color: var(--mb2-taghbcolor) !important;
        }
    }

    .dark & {
        --mb2-tagbcolor: rgba(255,255,255,.1);
    }

    .details-section & {
        column-gap: .8rem;

        --mb2-tagfs: #{$fsgeneral};
        --mb2-tagcolor: #{$color_success};
        --mb2-tagbgcolor: #{rgba($color_success, .1)};
        --mb2-tagbcolor: #{$color_success};
        --mb2-taghcolor: #{$color_success};
        --mb2-taghbgcolor: #{rgba($color_success, .22)};
        --mb2-taghbcolor: #{$color_success};

        a,
        a.badge {
            padding: .65rem 1.4rem !important;
        }
    }

}


/* ======================= LOAD MORE BUTTON */


.theme-blog-load-posts {
    text-align: center;

    + .pagination {
        @include sr-only();
    } 
}





