

@mixin mb2_nobtn() {
    padding: 0;
    border: 0;
    background-color: transparent !important;
    font-weight: inherit;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


@mixin mb2_btn_link() {
    background-color: transparent !important;
    color: inherit !important;
    border-color: transparent !important;
    transition: color 0.15s ease-in-out;
    @include mb2_box_shadow_none();

    &:hover,
    &:focus,
    &:active {
        color: $linkcolor !important;
    }

    &.isicon0 {
        .btn-intext {
            &:after {
                @include mb2_font_fa();
                content: '\f105';
                margin-left: .45rem;
                transform: scale(1.35);
            }
        }
    }

}

// Button sizes
@mixin mb2_button_size($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    @include font-size($font-size);
    // Manually declare to provide an override to the browser default
    @include border-radius($border-radius, 0);
}


@mixin mb2_button() {

    --mb2-btn-bw: 1px;

    font-size: var(--mb2-btn-fsize);
    font-weight: var(--mb2-pb-fwmedium);
    @include mb2_button_size(var(--mb2-bs-btn-py), var(--mb2-btn-px), $fsgeneral, var(--mb2-btn-radius));
    line-height: $lhheadings;
    border-width: var(--mb2-btn-bw);
    @include mb2_box_shadow_none();
    text-decoration: none;

    &:focus {
        outline: .2rem solid transparent;
    }

}



@mixin mb2_btn_moodle_icon() {

    @include mb2_box_shadow_none();
    @include mb2_transition_none();
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0 !important;
    color: var(--mb2-pb-headingscolor) !important;

    span {
        padding: 0 !important;
    }

    &:hover,
    &:focus,
    &:active {
        color: var(--mb2-pb-headingscolor) !important;
        background-color: rgba(0,0,0,.07) !important;
    }

    &.mb2mr-1 {
        margin-right: 1rem !important;
    }

    &.icons-collapse-expand {
        background-color: rgba(0,0,0,.07) !important;

        &:hover {
            outline-color: rgba(0,0,0,.1);
            outline-width: 1px;
        }
    }

    .fa-chevron-down,
    .fa-chevron-right,
    .fa-chevron-left {
        &:before {
            @include mb2_font_bootstrapicons();
        }

        &.icon {
            width: auto !important;
            height: auto !important;
            font-size: 1.25rem;
        }
    }

    .fa-chevron-down {
        &:before {
            content: '\f282';
        }
    }

    .fa-chevron-right {
        &:before {
            content: '\f285';
        }
    }


    .fa-chevron-left {
        &:before {
            content: '\f284';
        }
    }

}


@mixin mb2_switch($switch_s, $switch_bw) {

    --mb2_switch_diff: 4px;
    --mb2_switch_s: #{$switch_s};
    --mb2_switch_bw: #{$switch_bw};
    --mb2_switch_c: #70798c;
    --mb2_switch_sl: calc(var(--mb2_switch_s) - var(--mb2_switch_diff));

    .switch-wrap {
        display: inline-flex;
        align-items: center;
        width: calc((var(--mb2_switch_s) + var(--mb2_switch_bw)) * 2);
        height: calc(var(--mb2_switch_s) + (var(--mb2_switch_bw) * 2));
        border: solid var(--mb2_switch_bw) rgba(255, 255, 255, .65);
        color: rgba(255, 255, 255, .65);
        border-radius: 999px;
        background-color: var(--mb2_switch_c);
        box-shadow: 0 0 0 calc(var(--mb2_switch_bw) * 2) var(--mb2_switch_c);
    }

    .switch-slider {
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;

        &:before {
            content: '';
            display: block;
            width: var(--mb2_switch_sl);
            height: var(--mb2_switch_sl);
            border-radius: 999px;
            background-color: rgba(255, 255, 255, .65);
            position: absolute;
            transition: .4s;
            transform: translateX(calc(var(--mb2_switch_diff) / 2));
        }
    }

    .switch-icon {
        font-size: var(--mb2_switch_s);
        transition: .4s;
        top: 50%;
        margin-top: calc((var(--mb2_switch_s) / 2) * -1);
        transform: scale(1.25);
    }

    .icon-on {
        opacity: 0;
        left: 1px;
    }

    .icon-off {
        right: 1px;
    }

    body:not(.editing) &:not(.themefocused):focus,
    body.editing &:not(:focus) {

        --mb2_switch_c: #{$color_success};
        --mb2_switchposon: calc((var(--mb2_switch_s) * 2) - var(--mb2_switch_sl) + (var(--mb2_switch_bw) * 2) - var(--mb2_switch_diff));

        .switch-slider {
            &:before {
                transform: translateX(var(--mb2_switchposon));
            }
        }

        .icon-on {
            opacity: 1;
        }

        .icon-off {
            opacity: 0;
        }

    }


    .dir-rtl & {
        .switch-slider {
            &:before {
                right: 4px;
            }
        }
    }


    body.dir-rtl:not(.editing) &:not(.themefocused):focus,
    body.dir-rtl.editing &:not(:focus) {

        --mb2_switchposon: calc((var(--mb2_switch_s) * -2) + var(--mb2_switch_sl) - (var(--mb2_switch_bw) * 2) + var(--mb2_switch_diff) + 4px);

    }

}


