
.dir-rtl .course-popover,
.course-popover {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: -2.4rem;
    z-index: 1050; // This is require to show popover in course modal window, if user add courses by part.

    @media only screen and (max-width: $wdmediumdevice){
        width: 320px;
        margin-left: -160px;
    }

    @media only screen and (max-width: 340px){
        width: 280px;
        margin-left: -140px;
    }

    &.open {
        display: block;
    }

    @media only screen and (min-width: $wdmediumdevice + 1){

        width: 327px;

        &.arrl {
            padding-left: 7px;
        }

        &.arrr {
            padding-right: 7px;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 5rem;
            z-index: 1;
            width: 25px;
            height: 25px;
            background-image: url([[pix:theme|qw-arrl]]);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.arrl {
            &:before {
                left: -17px;
            }
        }

        &.arrr {
            &:before {
                right: -17px;
                transform: scaleX(-1);
            }
        }

    }

}



.course-popover-inner {
    min-height: 180px;
    background-color: rgba(255,255,255,.935);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: solid 1px rgba(0,0,0,.18);
    padding: 1.6rem .35rem;
    @include mb2_box_shadow(0 3px 20px, rgba(0,0,0,.19));
    border-radius: calc(var(--mb2-boxradius) * .8);

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
    }

    &:before {
        opacity: 0;
        top: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,.95);
        @include mb2_transition1(opacity, .25s);
        z-index: 1;
        border-radius: var(--mb2-boxradius);
    }

    &:after {
        display: none;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
        background-image: var(--mb2-pb-spinner);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }

    &.loading {
        &:before {
            opacity: 2;
            top: 0;
        }

        &:after {
            display: block;
        }

    }
}


/* ======================= QUICK VIEW COURSE STYE */

.course-quick {
    position: relative;
    z-index: 1;

    .course-quick-title {
        margin: 0;
    }

    .course-quick-meta {
        margin-top: 0.45rem;

        .course-cbadges {
            margin-right: .8rem;
        }

        .course-date {
            display: inline-block;
            color: $color_info;

            .date-label {
                font-weight: $fwbold;
            }
        }
    }

    .course-quick-skills {

        .theme-listicon {
            --mb2-pb-listicon-isize: 2.5rem;
        }

        .iconel {
            color: $color_success;
        }

    }

    .course-quick-footer {
        margin-top: 1.1rem;
        text-align: center;
        padding: 0 1.25rem;
    }

    .course-custom-fileds {

        &:empty {
            display: none !important;
        }

        column-gap: 1rem;

        li {
            row-gap: .22rem;
        }

        .value {
            font-weight: $fwbold;
        }
    }

}

.course-quick-inner {
    max-height: 490px;
    padding: 0 calc(1.25rem - 6px) 0 1.25rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    @include mb2_scrollbar(rgba(0,0,0,.22));
}

button.qw-launcher {
    display: none;
    bottom: 10px;
    left: auto;
    right: 10px;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 25rem;
    color: $headingscolor;
    border: solid 1px $headingscolor;
    padding: .45rem .7rem;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    align-items: center;
    column-gap: .2rem;

    @media only screen and (max-width: $wdmediumdevice){
        display: inline-flex;
        z-index: 4;
    }
}

button.qw-close {
    display: none;
    top: .45rem;
    right: .45rem;
    font-size: 1.4rem;
    color: inherit;

    @media only screen and (max-width: $wdmediumdevice){
        display: block;
    }
}
