/* ================= CHANGE SOME DEFAULT STYLES */

.page-secnav {

    body:not(.secnav) & {
        display: none;
    }

    margin-top: -1.7rem;

    .pagelayout-frontpage & {
        margin-top: 2rem;
    }
    
}

.secondary-navigation {

    body:not(.secnav) & {
        display: none;
    }

    margin-bottom: 0;

    .fsmod-wrap & {
        margin-top: -3.7rem;
    }

    .navigation {
        display: inline-flex;
        align-items: center;
        border: 0;
        margin: 0;
        padding: 0 .86rem;
        background-color: #fff;
        height: 3.4rem;
        border-radius: 50rem;
        box-shadow: 0 3px 6px rgba(0,0,0,.1);

        .nav-tabs {
            max-width: 100%;
            background-color: transparent;
            column-gap: .18rem;

            @media only screen and (max-width: $wdmediumdevice) {
                justify-content: center;
            }
        }
    }

    .moremenu {

        .nav-link {
            box-shadow: none !important;
            height: 1.9rem;
            border: solid 1px transparent !important;
            border-width: 1px !important;
            margin-top: 0;
            margin-bottom: 0;
            border-radius: 999px !important;
            color: var(--mb2-pb-accent1);
            background-color: transparent !important;
            font-weight: var(--mb2-pb-fwmedium);
            padding: .3rem .7rem;

            &:hover,
            &:focus {
                background-color: rgba($accent1, .13) !important;
            }
    
            &.active {
                border-color: $accent1 !important;
                color: #fff;
                background-color: $accent1 !important;
            }
        }

    }

    .fsmod-course & {

        position: relative;
        top: -.95rem;
        
        .moremenu {
            margin: 0 !important;
        }
    }


    .dropdown-menu {
        border-radius: var(--mb2-blockradius);
    }	
}