
#page-header {
    
    background-color: var(--mb2-pb-pheadergrad1);
    background-image: linear-gradient(155deg, var(--mb2-pb-pheadergrad1) 3.6%, var(--mb2-pb-pheadergrad2) 100.2%);
    position: relative;

    .secnav.tpheaderl_modern & {
        padding-bottom: 2.2rem;
    }

    > .inner {
        padding: var(--mb2-pb-hspace) 0;

        @media only screen and (max-width: $wdmediumdevice){
            padding: .9rem 0;
        }
        
    }
    

    .tpheader_light & {
        background-color: $headerlbgcolor;
        --mb2-pb-pheadergrad1: var(--mb2-pb-headerlbgcolor);
        --mb2-pb-pheadergrad2: var(--mb2-pb-headerlbgcolor2);
    }

    &.nobg:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        height: 100%;
        background-repeat: no-repeat;		
        background-size: 100%;
        background-position: 50% 100%;
    }

    .tpheader_wave &.nobg:before {		
        left: 0;	   
        width: 100%;	    
        background-image: url([[pix:theme|wave-bg]]);

        @media only screen and (max-width: $wdmediumdevice){
            background-size: 170%;
        }
    }
    
    
    .tpheaderl_modern & {
        color: #fff;
    }


    .page-heading {

        h1 {
            margin: 0;
            font-weight: var(--mb2-pb-fwheadings);

            @media only screen and (max-width: $wdmediumdevice){
                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            a {
                color: inherit;
            }
        }
    }

    .tpheader_dark & {
        .page-heading {

            h1 {
                color: #fff;
            }
        }
    }

    .pagelayout-frontpage & {
        @include sr-only();
    }

    .action-menu {

        margin: 0;
        position: relative;
        display: inline-block !important;

        .dropdown-toggle {
            margin: 0;
            vertical-align: middle;
            @include mb2_border_radius(.15rem);
            @include mb2_box_shadow_none();
            color: #fff!important;

            i {
                font-size: 1rem;
            }

            &:after {
                display: none;
            }
        }
    }

    .tpheader_light & {
        .action-menu {

            .dropdown-toggle {
                color: var(--mb2-pb-headingscolor) !important;
            }
        }		
    }

    .tpheader_wave.tpheader_light & {
        &.nobg:before {
            background-image: url([[pix:theme|wave-bg-black]]);
        }
    }

    #region-main-settings-menu {
        display: inline-block;
        width: auto;
        float: none;
    }
    

}


.page-header-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &.stc {
        opacity: .25;
    }
}


.page-header-right {

    text-align: right;

    .theme-turnediting {
        color: #fff;

        &:hover,
        &:focus {
            color: #fff;
        }
    }

    .theme-turnediting {
        gap: .45rem;
        @include mb2_switch(14px, 1px);
    }
    

    .tpheader_light & {

        .theme-turnediting {
            color: var(--mb2-pb-headingscolor);

            &:hover,
            &:focus {
                color: var(--mb2-pb-headingscolor);
            }
        }
    }

}


.page-header-left {

    max-width: 100%;

    .ishright & {
        max-width: 65%;
    }

}

.page-breadcrumb {

    padding-bottom: .9rem;

    .panel-link {
        color: #fff !important;
    }
    
    &.breadcrumb_classic {
        background-color: $color_gray2;
        padding-top: .9rem;

        .panel-link {
            color: $textcolor !important;
        }
    }

    .tpheader_light & {
        .panel-link {
            color: $textcolor !important;
        }
    }

    .secnav.tpheaderl_classic & {
        padding-bottom: 2.7rem;
    }

    .tpheader_light &.breadcrumb_classic {
        background-color: darken($headerlbgcolor, 3%);
    }

    #region-main-settings-menu {
        float: none;

        > div {
            position: relative;
            margin: 0;
        }

        .dropdown-toggle {
            line-height:1;
            vertical-align: middle;
            color: var(--mb2-pb-headingscolor);

            i {
                font-size: 16px;
            }

            &:after {
                display: none;
            }
        }
    }

    /* Hide serach form in Moodle 4.0 */
    .path-admin.css_6wum &,
    .path-user.css_6wum & {
        .simplesearchform {
            display: none !important;
        }
    }

    .btn-icon {
        @include mb2_btn_moodle_icon();

        &.icon-size-3 {
            border: solid 1px var(--mb2-pb-textcolor) !important;
            width: 34px !important;
            height: 34px !important;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;

            i {
                padding: 0 !important;
                color: var(--mb2-pb-textcolor) !important;
            }
        }
    }

    .tpheader_dark &.breadcrumb_modern {
        .btn-icon {
            &.icon-size-3 {
                border-color: #fff !important;

                i {
                    color: #fff !important;
                }
            }
        }

        img.icon {
            filter: brightness(0) invert(1);
        }
    }

    

    .actions {
        column-gap: 1rem;

        .bulkEnable {
            font-weight: normal;

            .icon {
                margin-right: 0;
                transform: scale(.9);
            }
        }

        @media only screen and (max-width: $wdmediumdevice){
            width: 100%;

            > * {
                margin-top: .9rem;
            }
        }

        .tpheader_light & {
            color: $textcolor;
        }

    }

    

    .btn-group {
        width: 100%;
    }
    

}



.singlebutton {
    .path-mod-book & {
        display: none;
    }

    .fsmod-wrap & {
        margin-bottom: 1rem;
    }
}


.heding.iscurse:not(.maincoursepage) {

    .course-backtext {
        opacity: .35;
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 100%;
        line-height: 1;
        font-size: $fssmall;
        font-weight: $fwnormal;
        text-transform: uppercase;
        gap: .25rem;
        @include mb2_transition1(opacity, .15s);

        &:before {
            @include mb2_font_bootstrapicons();
            content: '\F12F';
            font-size: 1.6rem;
            position: relative;
            top: -.08rem;
        }

        @media only screen and (max-width: $wdmediumdevice){
            display: none;
        }
    }

    .dir-rtl & {
        .course-backtext {
            &:before {
                transform: scaleX(-1);
            }
        }
    }


    a {
        position: relative;
        display: inline-flex;

        &:hover,
        &:focus {
            .course-backtext {
                opacity: 1;
            }
        }
    }
    
}


.heding.iscurse.maincoursepage {
    .course-backtext {
        @include sr_only();
    }
}

